.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.crypt-shaped-block {
  display: flex;
  text-align: center;
  justify-content: center;
}

#multipleForm {
  background: grey;
  border-radius: 13px;
  border: 2px solid rgb(150, 25, 25);
  width: 50%;
  padding: 25px;
}

#multipleForm button {
}
